language: node_js
services:
  - docker
env:
  global:
    - PROJECT_NAME="project"
    - ENV=$($TRAVIS_BUILD_DIR/deploy/branch_name_to_env.sh)
    - CONTAINER_TAG=$ENV
    - AWS_DEFAULT_REGION="ap-south-1"
    - DOCKER_REPO_SUFFIX=$(if [ "$ENV" = "prod" ]; then echo "_prod"; else echo ""; fi)
    - DOCKER_REPO_URL="174225606321.dkr.ecr.ap-south-1.amazonaws.com/project/project-backend{DOCKER_REPO_SUFFIX}"
    - IMAGE_TAG=${DOCKER_REPO_URL}:${CONTAINER_TAG}
    - SENTRY_ORG=sentry-org
    - SENTRY_PROJECT=project-backend
    - SENTRY_RELEASE=project-backend@$TRAVIS_COMMIT
addons:
  postgresql: '10'
cache:
  directories:
    - node_modules
    - dist
jobs:
  include:
    - stage: Run tslint and audit
      install:
        - npm i -g tslint audit-ci typescript
      before_script:
        - npm i
      script:
        - npm run tslint
        - audit-ci --moderate
    - stage: Run tests
      install:
        - npm i -g typescript codecov
      script:
        - npm run build
      after_success:
        - npm run report-coverage
    - stage: Build and push image
      if: branch =~ ^(staging|dev|master)$ and type = push
      before_install:
        - pip install --user awscli jq
        - export PATH=$PATH:$HOME/.local/bin
      install:
        - npm install -g typescript
      script:
        - docker build -t $IMAGE_TAG --build-arg NODE_ENV=$ENV .
        - "$(aws ecr get-login --no-include-email --region ap-south-1)"
        - docker push $IMAGE_TAG
    - stage: deploy
      if: branch =~ ^(staging|dev|master)$ and type = push
      before_install:
        - sudo apt-get install -y curl jq python python3-pip
        - sudo pip install awscli
        - export VERSION=$(cat package.json | jq -r .version)
        - export TASK_DEFINITION_NAME=backend_${PROJECT_NAME}_${ENV}
        - export CLUSTER_NAME=${PROJECT_NAME}_${ENV}_cluster
        - export SERVICE_NAME=backend_${PROJECT_NAME}_${ENV}
      script:
        - "$TRAVIS_BUILD_DIR/deploy/deploy.sh"
      after_success:
        - npm install @sentry/cli
        - npm run sentry:release

